@mixin  flexAlign ($hor: center, $vert: center, $pos: row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
    
}

@mixin  textStyle ($size: 1rem, $weight: 400, $color: black) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

