
@import './mixins.scss';
@import './colors.scss';

body {
    padding: 0;
    margin: 0;
}

.header {
    padding: 0;
    margin: 0;
    @include flexAlign(center, left);
    background-image: url(../images/header.jpg);
    height: 48.12rem;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    
    &__row {
        margin-top: 2.5rem;
        box-sizing: border-box;
    
        &-logo {
            @include textStyle(1.5rem, 400, rgb(255, 255, 255));
            text-transform: capitalize;

        }

        &-menu{
            @include flexAlign;
            text-transform: capitalize;

            &-link{
                @include textStyle(0.875rem, 400, $header);
                margin-left: 2rem;
                text-decoration: none;
                box-sizing: border-box;
            }

        }
    }

    &__title {
        @include textStyle(3rem, 400, $header);
        display: inline-block;
        text-transform: uppercase;
        margin-top: 14rem;
        box-sizing: border-box;
    }

    &__text {
        @include textStyle(1.25rem, 400, $header);
        display: inline-block;
        text-transform: capitalize;
        font-family: 'Roboto Slab', serif;
        margin-top: 1.75rem;
        box-sizing: border-box;
        margin-bottom: 3rem;

    }

    &__button {
        @include flexAlign ();
        @include textStyle(1rem, 900, $header);
        height: 3.125rem;
        width: 11.25rem;
        text-transform: uppercase;
        box-sizing: border-box;
        border: 2px solid $header;
        cursor: pointer;
        
        &-link{
            color: $header;
            @include flexAlign();
            width: inherit;
            height: inherit;
        
        &:hover {
            color: #c0301c;   
            text-decoration: none;   
            background-color: #ffffff; 
        }
        }

    }

}

.title {
    font-family: 'Montserrat', sans-serif;

    &__content {
        @include flexAlign(center, center, column);   
        
        &-main{
        display: inline-block;
        @include textStyle(1.25rem, 900, $main);
        text-transform: uppercase;
        padding-top: 6.25rem;
        box-sizing: border-box;
        }

        &-divider{
            
            height: 2px;
            width: 50px;
            margin-top: 30px;
            box-sizing: border-box;
            background-color: $main;
        }
        
        &-text {
            @include flexAlign();
            @include textStyle(1rem, 400, $main);
            padding: 0;
            margin: 0;
            font-family: 'Roboto Slab', serif;
            padding-top: 1.87rem;
            box-sizing: border-box;          
        }

    }
}

.services {
    &__content {

        @include flexAlign(center, center, column);
        padding-top: 4.375rem;
        box-sizing: border-box;
        

        // &-icon-font {
        //     @include flexAlign();
        //     width: 5.625rem;
        //     height: 5.625rem;
        //     background-color: #5e0a44;
        //     border-radius: 50%;
                
               
        //     &-svg{
        //         height: 2.5rem; 
        //         width: 2.8rem;
        //         color: white;   
 
        //     } 
        // }
        &-icon {        
            @include flexAlign();
            width: 5.625rem;
            height: 5.625rem;
            background-color: #ffffff;
            border-radius: 50%;
            border: 2px solid #e2e2e2;
            color:  #c0301c;

            &-link{
                
            }
            
            &:hover{
                background-color: #c0301c;
                color: white;
            }

            &-svg {
                height: 2.5rem; 
                width: 2.8rem;
              
            }

           
        }   

        &-title {
            @include textStyle (0.875rem, 900, $main);
            text-transform: uppercase;
            padding-top: 1.8rem;
            box-sizing: border-box;
            text-align: center;
        }

        &-text {
            @include textStyle (0.875rem, 400, $main);
            padding-top: 1.5rem;
            box-sizing: border-box;
            text-align: center;
            font-family: 'Roboto Slab', serif;
        }
    }
}

.aboutUs {

    &__text {
        @include textStyle (00.875rem, 400, $main);
        font-family: 'Roboto Slab', serif;
        text-align: justify;
        padding-top: 4.375rem;
        box-sizing: border-box;
    }
}

.members {
    padding-top: 4.375rem;
    box-sizing: border-box;

    &__member {
    @include flexAlign(center, center, column);
        &-photo {
            
        }
        &-name{
            @include textStyle(0.875rem, 900, $main);
            padding-top: 1rem;
            box-sizing: border-box;
            display: block;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
        }
        &-position {
            @include textStyle(0.81rem, 400, $main);
            padding-top: 0.85rem;
            box-sizing: border-box;
            display: block;
            font-family: 'Roboto Slab', serif;
        }
    }
}

.links {
    @include flexAlign();
    padding-top: 1.87rem;
    box-sizing: border-box;
   

    &__link {
        @include textStyle(1rem, 400, $main);
        font-family: 'Roboto Slab', serif;
        text-transform: capitalize;
        text-decoration: none;
        margin-right: 1.5rem;
        box-sizing: border-box;

        &:hover {
            color: #c0301c;
            text-decoration: none;
        } 

    }

}

.works {
    margin-top: 4.5rem;
    box-sizing: border-box;

    &__img{
        padding-bottom: 2rem;
        box-sizing: border-box;
    }
}

.paralax {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to top, rgba(192,48,28,0.5), rgba(192,48,28,0.5)), url(../images/paralax.jpg);
    width: 100%;
    height: 23rem;
    margin-top: 5.5rem;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;

    &__row {
        &-title{
            @include textStyle(1.875rem, 400, $paralax);
            @include flexAlign();
            text-align: center;
            padding: 3.25rem 2rem 0;
            margin: 0;
            box-sizing: border-box;
          
        }

        &-btn {
            @include textStyle(1.1rem, 400, $paralax);
            cursor: pointer;
            width: 11.25rem;
            height: 3.125rem;
            border: 2px solid $paralax;
            // padding: 1rem 1.56rem;
            text-transform: uppercase;
            margin-top: 4.375rem;
            box-sizing: border-box;


            &-link {
                @include flexAlign();
                width: inherit;
                height: inherit;
                text-decoration: none;
                color: $paralax;

            &:hover {
                color: #c0301c;   
                text-decoration: none;   
                background-color: #ffffff;        
            }

            }
        }
    }
}

.blog{
    
    padding: 0;
    margin: 0;
    padding-top: 4.5rem;

    &__img{
       
    }

    &__el {
        @include flexAlign(center, flex-start, column);
        padding: 0;
        margin: 0;
        margin-left: 2.4rem;
        box-sizing: border-box;

        &-dateTitle{
            @include flexAlign();
            padding: 0;
            margin: 0;
           
            &-date {
                padding: 0;
                margin: 0;
                @include flexAlign(space-between, center, column);
                width: 76px;
                height: 77px;
                border: 2px solid $main;
                box-sizing: border-box;

                .num{
                padding: 0;
                margin: 0;
                @include textStyle(1.5rem, 900, $main);
                font-family: 'Montserrat', sans-serif;
                padding-top: 0.6rem;
                box-sizing: border-box;
                }

                .mon{
                padding: 0;
                margin: 0;
                @include textStyle(0.875rem, 900, $main);
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                padding-bottom: 0.6rem;
                box-sizing: border-box;
                }

            }

            &-autorTitle{
                @include flexAlign (flex-start, left, column);
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                padding-left: 1.56rem;
                
                &-title{
                    @include textStyle(1rem, 900, $main);
                    font-family: 'Montserrat', sans-serif;
                    padding: 0;
                    margin: 0;
                    text-transform: uppercase;
                    &:hover {
                        text-decoration: none;
                        color: $blogMain;
                    }

                }

                &-autor{
                    @include textStyle(0.81rem, 400, $main);
                    font-style: italic;
                    text-align: left;
                    padding: 0;
                    margin: 0;
                    font-family: 'Roboto Slab', serif;

                    .red {
                        color: $main;

                        &:hover {
                            text-decoration: none;
                            color: $blogMain;
                        }
                    }

                }

            }

        }

        &-text{
            @include textStyle(0.875rem, 400, $main);
            padding: 0;
            margin: 0;
            padding-top: 1.56rem;
            font-family: 'Roboto Slab', serif;
            text-align: justify;
            

        }
     
        &-more {

            &-link {
                @include textStyle (0.81rem, 900, $main);
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    text-decoration: none;
                    color: $blogMain;
                }
            }
          
        }

    }
}

.clients {
    padding: 0;
    margin: 0;
    padding-top: 12.5rem;
    box-sizing: border-box;

    &__img{

    }

    &__text{
        @include flexAlign();
        @include textStyle(1.125rem, 400, $main);
        font-family: 'Roboto Slab', serif;
        font-style: italic;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        padding-top: 4.2rem;
        padding-bottom: 2.5rem;
    }

    &__el{
        @include flexAlign();
        margin: 0;
        padding: 0;
        &-autor{
            @include textStyle(1.25rem, 400, $main);
            font-family: 'Roboto Slab', serif;
            margin: 0;
            padding: 0;
            margin-bottom: 2.5rem;
        }
        &-dots{
            @include flexAlign();
            &-dot{
                margin: 0;
                padding: 0;
                width: 0.875rem;
                height: 0.875rem;
                background-color: $dot;
                border-radius: 50%;
                margin-right: 0.4375rem;
                box-sizing: border-box;
              
                &:hover{
                    background-color: $blogMain;
                }
            }
        }
    }

}

.contact{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-top: 4.5rem;

    &__data{
        @include flexAlign(center, start,);
        margin-bottom: 2rem;
        box-sizing: border-box;
       
        &-icon{
        padding: 0;
        margin: 0;
        margin-right: 0.9rem;

           &-svg{
               width: 0.75rem;
               height: 1.125rem;
               color: $main;
           }
       } 

       &-text{
           @include flexAlign(flex-start, left, column);
     

           &-title{
            @include textStyle(0.875rem, 400, $main);
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            padding-bottom: 1.125rem;
            box-sizing: border-box;
           }

           &-text{
            @include textStyle(0.75rem, 400, $main);
            font-family: 'Roboto Slab', serif;
           }

       }
    }
    &__form{
        padding: 0;
        margin: 0;
        @include flexAlign(flex-start, left, column);
        @include textStyle(0.75rem, 400, $main);
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
        
        &-group{
            padding: 0;
            margin: 0;
            @include flexAlign(center, left, row);

            &-input{
                @include textStyle(0.75rem, 400, $main);
                text-indent: 1rem;
                text-transform: uppercase;
                padding: 0;
                margin: 0;
                height: 2.75rem;
                width: 21.875rem;
                margin-right: 1.875rem;
                box-sizing: border-box;
                margin-bottom: 1.375rem;
            }

        }

        &-message{
            padding: 0;
            margin: 0;
            
            
            &-input{
                @include textStyle(0.75rem, 400, $main);
                text-transform: uppercase;
                padding: 0;
                margin: 0;
                height: 17.3rem;
                width: 42.6rem; 
                text-indent: 1rem;
            }
        }

        &-btn {
            @include flexAlign(start);
            padding: 0;
            margin: 0;
            margin-top: 1.25rem;
            box-sizing: border-box;

            &-btn{
                @include flexAlign();
                width: 10.625rem;
                height: 2.81rem;
                border: 1px solid $main;
                margin-right: 2.4rem;
                box-sizing: border-box;
            }

            &-text{
               
                text-transform: none;
            }
        }
    }
}

.footer{
    padding: 0;
    margin: 0;
    height: 19.2rem;
    width: 100%;
    margin-top: 6.25rem;
    box-sizing: border-box;
    background-color: $blogMain;

    &__content{
        @include flexAlign(center, center, column);
        padding: 0;
        margin: 0;
        margin-top: 6.25rem;
        box-sizing: border-box;

        &-icons{

            &-svg{
                width: 2.25rem;
                height: 2.25rem;
                border: 2px solid $header;
                border-radius: 50%;
                color: $header;
                padding: 0.5rem;
                margin-right: 0.875rem;
                box-sizing: border-box;
            }
        }

        &-divider{
            height: 2px;
            width: 50px;
            margin-top: 30px;
            box-sizing: border-box;
            background-color: $header;
        }

        &-copyright{
            @include textStyle(0.75rem, 400, $header);
            font-family: 'Roboto Slab', serif;
            margin-top: 1.75rem;
            box-sizing: border-box;
            text-transform: uppercase;
        }
    }
}